.encabezado{
  padding: 1%;
  background-image: url('src/assets/img/Header.jpg');
  color: white;
  text-align: center;
}
.tarjeta{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 2%;
}
.pie{
  padding: 2%;
  background-color: black;
  color: white;
  text-align: center;
}
.fotopizza{
  padding: 3%;
}
.fotopizza1{
  padding: 2%;
  height: 7rem;
  width: 10rem;
}
.lblRegistro{
  width: 140px;

}
.txtRegistro{
  width: 240px;
}
.listaCompra{
  list-style-type: none;
}
.tdCarrito{
  width: 6rem;
}
.tdCarrito1{
  width: 2rem;
}
